@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@inject NewsWebsite.Common.StringExtensions*@
@model List<NewsWebsite.ViewModels.Api.BudgetSeprator.BudgetSepratorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- The Modal -->
@*<div id="modal-placeholder"></div>*@
<!--<div class="modal" id="myModal">-->
    @*<div class="modal-dialog">
            <div class="modal-content">

                 Modal Header
                <div class="modal-header">
                    <h4 class="modal-title">ویرایش کد حسابداری</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                 Modal body
                <div class="modal-body">
                    <form asp-action="RenderCodeACC">
                        @if (ViewData.ModelState.IsValid.ToString() == "False")
                        {
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        }

                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <input type="hidden" asp-for="CodingId" />

                        <div class="row p-2 mt-2 mb-2">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label asp-for="CodeVaset" class="control-label"></label>
                                </div>
                                <div class="col-md-8">
                                    <input asp-for="CodeVaset" class="form-control" />
                                    <span asp-validation-for="CodeVaset" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                 Modal footer
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">ذخیره</button>
                </div>

            </div>
        </div>*@
    @*<partial name="_UpdateCodeACC" />*@
<!--</div>-->

<div style="width:100%">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-light">
                    <span>بودجه تفکیکی</span>
                    @*<a href="/Admin/Books/Index" style="font-size:13px;" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست ها</a>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-center">ردیف</th>
                                    <th class="text-center">ردیف</th>
                                    <th class="text-center">کد</th>
                                    <th class="text-center">شرح</th>
                                    <th class="text-center">مصوب</th>
                                    <th class="text-center">عملکرد</th>
                                    <th class="text-center">% جذب</th>
                                    <th class="text-center">کد حسابداری</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Count > 0)
                                {
                                    int i = Model.Count;
                                    foreach (var item in Model)
                                    {
                                        if (item.LevelNumber == 2)
                                        {
                                            <tr style="background-color: #b0cce9">
                                                <td class="text-center">@i</td>
                                                <td class="text-nowrap">@item.Code</td>
                                                <td>@item.Description</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric((item.Expense / item.Mosavab) * 100).ToString()) %</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>
                                                <td class="text-center">
                                                </td>
                                            </tr>
                                        }
                                        else
                                        if (item.LevelNumber == 3)
                                        {
                                            <tr style="background-color: #d1e0ef">
                                                <td class="text-center">@i</td>
                                                <td class="text-nowrap">@item.Code</td>
                                                <td>@item.Description</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric((item.Expense / item.Mosavab) * 100).ToString()) %</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>
                                                <td class="text-center">
                                                </td>
                                            </tr>
                                        }
                                        else if (item.LevelNumber == 4)
                                        {
                                            <tr style="background-color: #e9f0f6">
                                                <td class="text-center">@i</td>
                                                <td class="text-nowrap">@item.Code</td>
                                                <td>@item.Description</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric((item.Expense / item.Mosavab) * 100).ToString()) %</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>
                                                <td class="text-center">
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr style="background-color:aliceblue">
                                                <td class="text-center">@i</td>
                                                <td class="text-nowrap">@item.Code</td>
                                                <td>@item.Description</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric((item.Expense / item.Mosavab) * 100).ToString()) %</td>
                                                <td>@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset)</td>
                                                <td class="text-center">
                                                    @if (item.LevelNumber == 5)
                                                    {
                                                    <a onclick="Details(@item.CodingId)" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="11" class="text-center">هیچ ردیفی در جدول وجود ندارد.</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                        @*<nav>
                                await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                            </nav>*@



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var SampleJSONData = @Html.Raw(Json.Serialize(ViewBag.Categories));
    var comboTree2;

jQuery(document).ready(function($) {
		comboTree2 = $('#justAnotherInputBox').comboTree({
			source : SampleJSONData,
			isMultiple: false
		});
    });

    function Details(id) {
        $.ajax({
            url: "Details/" + id ,
            type: "get",
        }).done(function(result){
            $("#myModal").modal('show');
            $(".modal-title").html('ویرایش');
            $(".modal-body").html(result);
        });
    }

</script>
