@using NewsWebsite.Data.Contracts;
@model List<NewsWebsite.ViewModels.Fetch.BudgetSepratorViewModel>
@inject NewsWebsite.Data.Models.ProgramBuddbContext _db
@inject NewsWebsite.Services.Contracts.IApplicationUserManager _unit

@inject IBudget_001Rep _uw
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />

<style>
    tr, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .tbody {
        color: black;
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    .tableFixHead {
        overflow: auto;
        height: 100px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0;
            z-index: 1;
            color: black;
        }
</style>

<div id="modal-placeholder"></div>

<div>
    <table class="tableFixHead" style="border: 1px solid black; border-collapse: collapse; width: 100%;">
        <thead style="color:black;" class="bg-gray-high-table">
            <tr style="border: 1px solid black; border-collapse: collapse;">
                <th colspan="8" style="color: black;border: 1px solid black; border-collapse: collapse;" class="pt-3">
                    <div class="row">
                        @*<form asp-action="Index" asp-controller="BudgetSeprator" class="row">*@
                        <div class="col-md-3">
                            <div class="form-overlap">
                                @Html.DropDownList("yearId", new SelectList(_db.TblYears.Where(a => a.Id == 32 || a.Id == 33).ToList(), "Id", "YearName"), new { @class = "form-control form-overlap-input" })
                                <label class="form-overlap-label">سال</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            @if (await _unit.IsInRoleAsync(_unit.FindByName(User.Identity.Name), "Admin") == true)
                            {
                                <div class="form-overlap">
                                    @Html.DropDownList("areaId", new SelectList(await _uw.AreaFetchAsync(3), "Id", "AreaName"), new { @class = "form-control form-overlap-input" })
                                    <label class="form-overlap-label">منطقه</label>

                                </div>
                            }
                            else
                            {
                                <div class="form-overlap">
                                    @Html.DropDownList("areaId", new SelectList(_db.TblAreas.Where(a=>a.Id==_unit.FindSectionIdByName(User.Identity.Name)).ToList(), "Id", "AreaName"), new { @class = "form-control form-overlap-input" })
                                    <label class="form-overlap-label">منطقه</label>

                                </div>
                            }
                        </div>
                        <div class="col-md-3">
                            <div class="form-overlap">
                                @Html.DropDownList("budgetProcessId", new SelectList(_db.TblBudgetProcess.ToList(), "Id", "ProcessName"), new { @class = "form-control form-overlap-input" })
                                <label class="form-overlap-label">نوع بودجه</label>
                            </div>
                        </div>
                        <div class="col-xm-2">
                            <input class="btn btn-primary rounded fs-normal" type="submit" value="ارسال" onclick="Index()" />
                        </div>
                            <div class="col-xm-1 mr-2">
                        <button id="btnRefresh" class="btn btn-primary rounded fs-normal" onclick="refreshForm()">
                        بروزرسانی
                        </button>
                        </div>
                        @*</form>*@

                    </div>
                </th>
            </tr>
            <tr style="border: 1px solid black; border-collapse: collapse;">
                <th class="text-center" width="100px">ردیف</th>
                <th class="text-center" width="100px">کد</th>
                <th class="text-center" width="500px">شرح</th>
                <th class="text-center" width="150px">مصوب</th>
                <th class="text-center" width="150px">ت اعتبار</th>
                <th class="text-center" width="150px">عملکرد</th>
                <th class="text-center" width="100px">% جذب</th>
                @*<th width="100px">کد حسابداری</th>*@
                <th width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal modal-custom-lg" id="MasterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @*<button type="button" id="mymodal-inner" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-inner">
                Launch demo modal
                </button>*@
                <div class="table-modal-container" id="MasterModal-body"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default rounded fs-normal" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-custom-lg" id="DetailModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold" id="DetailModalTitle">تامین اعتبارات</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-modal-container" id="DetailModal-body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default rounded fs-normal" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var globalCodingId = null;
    //const showLoading = function () {
    //    swal({
    //        title: 'Now loading',
    //        allowEscapeKey: false,
    //        allowOutsideClick: false,
    //        timer: 2000,
    //        onOpen: () => {
    //            swal.showLoading();
    //        }
    //    }).then(
    //        () => { },
    //        (dismiss) => {
    //            if (dismiss === 'timer') {
    //                console.log('closed by timer!!!!');
    //                swal({
    //                    title: 'Finished!',
    //                    type: 'success',
    //                    timer: 2000,
    //                    showConfirmButton: false
    //                })
    //            }
    //        }
    //    )
    //};

    $('#DetailModal').on('hidden.bs.modal', function (event) {
        document.body.classList.add("modal-open")
    })

    $('#MasterModal').on('hidden.bs.modal', function (event) {
        Index()
    })

    //function Index() {
    //    var _yearId = $("#yearId").val();
    //    var _areaId = $("#areaId").val();
    //    var _budgetProcessId = $("#budgetProcessId").val();

    //    $.ajax({
    //        url: "BudgetSeprator/ParitialIndexTable",
    //        type: "get",
    //        data: { 'yearId': _yearId, 'areaId': _areaId, 'budgetProcessId': _budgetProcessId }
    //    }).done(function (result) {
    //        $('tbody').html(result)
    //    });
    //}

    $(document).ready(function () {

        var Pesan = "@((string)ViewBag.alertsucces)";
        if (Pesan !== null && Pesan !== '') {
            swal("پیغام : ", Pesan)
        };
    });

    function Index() {
        var _yearId = $("#yearId").val();
        var _areaId = $("#areaId").val();
        var _budgetProcessId = $("#budgetProcessId").val();

        $.ajax({
            url: "BudgetSeprator/ParitialIndexTable",
            type: "get",
            data: { 'yearId': _yearId, 'areaId': _areaId, 'budgetProcessId': _budgetProcessId }
        }).done(function (result) {
            $('tbody').html(result)
        });
    }


    function Validate(ctl, event) {
        event.preventDefault();
        swal({
            title: "Do you want to save it?",
            text: "Please check Information before Submiting!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Save",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    if (validateData() == true) {
                        $("#CreateForm").submit();
                    }
                } else {
                    swal("Cancelled", "You have Cancelled Form Submission!", "error");
                }
            });
    }



    function Details(id, title) {
        var _yearId = $("#yearId").val();
        var _areaId = $("#areaId").val();
        var _budgetProcessId = $("#budgetProcessId").val();

        $.ajax({
            url: "BudgetSeprator/Details",
            type: "get",
            data: { 'yearId': _yearId, 'areaId': _areaId, 'budgetProcessId': _budgetProcessId, 'codingId': id }
        }).done(function (result) {
            globalCodingId = id
            $("#MasterModal").modal('show');
            $(".modal-title").html(title);
            $("#MasterModal-body").html(result);
        });
    }

    function refreshForm() {
        var _yearId = $("#yearId").val();
        var _areaId = $("#areaId").val();
        const instance = Swal.fire({
            title: "",
            html: '<div class="spinner-custom"><i class="fa fa-spinner"></i></div>',
            allowEscapeKey: false,
            allowOutsideClick: false,
            showConfirmButton: false,
            
        });
        $.ajax({
            url: "BudgetSeprator/RefreshForm",
            type: "post",
            data: { 'yearId': _yearId, 'areaId': _areaId }
        }).done(function () {
            swal.close()
        });
    }

</script>



