@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@inject NewsWebsite.Common.StringExtensions*@
@using NewsWebsite.Data.Contracts;
@using NewsWebsite.Data;
@using NewsWebsite.ViewModels.Api.Budget.BudgetSeprator;
@model List<BudgetSepratorViewModel>
@inject ProgramBuddbContext _db
@{
    ViewData["Title"] = "FetchData";
    Layout = "";
}

@if (Model.Count > 0)
{
    int i = 1;
    foreach (var item in Model)
    {
        if (item.LevelNumber == 1)
        {
            <tr style="border: 1px solid black; border-collapse: collapse; background-color: rgb(248 203 173)">
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.Code</td>
                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Description</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }

                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2;border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }


                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.PercentBud %</td>
                @*<td class="filterable-cell">@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>*@
                <td width="50px" class="filterable-cell text-center">
                    @if (item.Crud == true)
                    {
                        <a onclick="Details(@item.CodingId, '@item.Code - @item.Description')"><i class="fa fa-credit-card"></i></a>
                    }
                </td>

            </tr>
        }
        else
        if (item.LevelNumber == 2)
        {
            <tr style="border: 1px solid black; border-collapse: collapse; background-color: rgb(198 224 180)">
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.Code</td>
                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Description</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                @*<td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>*@
                @if (item.Expense <= item.Edit)
                {
                    <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2;border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.PercentBud %</td>
                @*<td class="filterable-cell">@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>*@
                <td width="50px" class="filterable-cell text-center">
                    @if (item.Crud == true)
                    {
                        <a onclick="Details(@item.CodingId, '@item.Code - @item.Description')"><i class="fa fa-credit-card"></i></a>
                    }
                </td>

            </tr>
        }
        else
        if (item.LevelNumber == 3)
        {
            <tr style="border: 1px solid black; border-collapse: collapse; background-color: rgb(189 215 238)">
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.Code</td>
                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Description</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }

                @if (item.Expense <= item.Edit)
                {
                    <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2;border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                @*<td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>*@
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.PercentBud %</td>
                @*<td class="filterable-cell">@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>*@
                <td width="50px" class="filterable-cell text-center">
                    @if (item.Crud == true)
                    {
                        <a onclick="Details(@item.CodingId, '@item.Code - @item.Description')"><i class="fa fa-credit-card"></i></a>
                    }
                </td>

            </tr>
        }
        else if (item.LevelNumber == 4)
        {
            <tr style="border: 1px solid black; border-collapse: collapse; background-color: rgb(255 255 153)">
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.Code</td>
                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Description</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }

                @if (item.Expense <= item.Edit)
                {
                    <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2;border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                @*<td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>*@
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.PercentBud %</td>
                @*<td class="filterable-cell">@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>*@
                <td width="50px" class="filterable-cell text-center">
                    @if (item.Crud == true)
                    {
                        <a onclick="Details(@item.CodingId, '@item.Code - @item.Description')"><i class="fa fa-credit-card"></i></a>
                    }
                </td>

            </tr>
        }
        else
        {
            <tr style="border: 1px solid black; border-collapse: collapse; background-color: white">
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.Code</td>
                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Description</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Mosavab).ToString())</td>
                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Edit).ToString())</td>
                @if (item.CreditAmount <= item.Edit)
                {
                    <td width="150px" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.CreditAmount).ToString())</td>
                }

                @if (item.Expense <= item.Edit)
                {
                    <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                else
                {
                    <td width="150px" style="background-color:#d7a2a2;border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                }
                @*<td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>*@
                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@item.PercentBud %</td>
                @*<td class="filterable-cell">@NewsWebsite.Common.StringExtensions.En2Fa(item.CodeVaset).ToString()</td>*@
                <td width="50px" class="filterable-cell text-center">
                    @if (item.Crud == true)
                    {
                        <a onclick="Details(@item.CodingId, '@item.Code - @item.Description')"><i class="fa fa-credit-card"></i></a>
                    }
                </td>
            </tr>
        }
        i++;
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">هیچ ردیفی در جدول وجود ندارد.</td>
    </tr>
}