@model List<NewsWebsite.ViewModels.Fetch.BudgetSepTaminModal2ViewModel>
@{
    ViewData["Title"] = "FnProctorAreaBudget";
    Layout = null;
}
<style>
    .modal-dialog {
        max-width: 80% !important;
        max-height: 80% !important;
    }

    .tr, td, th {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .tableFixHead {
        overflow: auto;
        height: 100px;
        /*z-index:105897;*/
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
            text-align: center;
            border: 1px solid black;
            border-collapse: collapse;
        }
</style>
<div class="row">
    <div class="col-12">
        <input id="search-input" class="form-control mb-3" />
    </div>
    <label id="codingId" style="display:none" value="@ViewBag.codingId"></label>
    <div class="col-md-12">
        <table class="tableFixHead">
            <thead class="bg-gray-high-table">
                <tr>
                    <th class="text-center" width="100px">ردیف</th>
                    <th class="text-center" width="100px">شماره درخواست</th>
                    <th class="text-center" width="100px">تاریخ درخواست</th>
                    <th class="text-center" width="100px">کد بودجه</th>
                    <th class="text-center" width="400px">شرح ردیف بودجه</th>
                    <th class="text-center" width="400px">شرح درخواست</th>
                    <th class="text-center" width="150px">مبلغ</th>
                    <th class="text-center" width="150px">عملیات</th>
                </tr>
            </thead>
            <tbody style="color:black; border: 1px solid black; border-collapse: collapse; width: 100%;">
                @if (Model.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (i % 2 == 0)
                        {
                            <tr class="bg-gray-table">
                                <td width="50px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                    <td class="text-center" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.RequestRefStr.ToString())</td>
                    <td class="text-center" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.RequestDate.ToString())</td>
                                <td class="text-center table-item" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.BodgetId.ToString())</td>
                    <td class="text-right " width="200px">@item.BodgetDesc</td>
                    <td class="text-right " width="200px">@item.ReqDesc</td>
                    <td class="text-center" width="150px">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.RequestPrice).ToString())</td>
                    <td>
                        <button type="submit" class="btn btn-link" onclick="TaminInsert('@item.RequestRefStr','@item.RequestDate','@item.RequestPrice.ToString()','@item.ReqDesc.ToString()')">
                            <i class="fa fa-link"></i>
                        </button>
                    </td>
                </tr>
                            i++;
                        }
                        else
                            if (i % 2 != 0)
                        {
                            <tr style="background-color: #ffffff">
                                <td width="50px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                                <td class="text-center" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.RequestRefStr.ToString())</td>
                                <td class="text-center" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.RequestDate.ToString())</td>
                                <td class="text-center table-item" width="50px">@NewsWebsite.Common.StringExtensions.En2Fa(item.BodgetId.ToString())</td>
                                <td class="text-right " width="200px">@item.BodgetDesc</td>
                                <td class="text-right " width="200px">@item.ReqDesc</td>
                                <td class="text-center" width="150px">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.RequestPrice).ToString())</td>
                                <td>
                                    <button type="submit" class="btn btn-link" onclick="TaminInsert('@item.RequestRefStr','@item.RequestDate','@item.RequestPrice.ToString()','@item.ReqDesc.ToString()')">
                                        <i class="fa fa-link"></i>
                                    </button>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="text-center">هیچ ردیفی در جدول وجود ندارد.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function searchItem(text){
        var
            persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g],
            arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g],
            fixNumbers = function (str) {
                if (typeof str === 'string') {
                    for (var i = 0; i < 10; i++) {
                        str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
                    }
                }
                return str;
            };

        [...document.querySelectorAll(".table-item")].forEach(item => item.parentElement.classList.add('d-none'));
        [...document.querySelectorAll(".table-item")].filter(item => fixNumbers(item.innerText).includes(text)).forEach(item => item.parentElement.classList.remove('d-none'))
    }

    $("#search-input").on('change keydown paste input', function (e) {

        searchItem($(this).val())
    });

    function TaminInsert(RequestRefStr, RequestDate, RequestPrice, ReqDesc)
    {
        var _yearId = $("#yearId").val();
        var _areaId = $("#areaId").val();
        var _budgetProcessId = $("#budgetProcessId").val();
        var _codingId = $("#codingId").val();

        $.ajax({
            url: "BudgetSeprator/TaminInsertPost",
            /**/
            data: { 'yearId': _yearId, 'areaId': _areaId, 'budgetProcessId': _budgetProcessId, 'RequestRefStr': RequestRefStr, 'RequestDate': RequestDate, 'RequestPrice': RequestPrice, 'ReqDesc': ReqDesc, 'codingId': globalCodingId },
    /**/
    type: "post",
    success: function (){
        $("#DetailModal").modal('hide');
        Details(globalCodingId, $("#DetailModalTitle").text())
    },
    error:function(){
              $("#DetailModal").modal('hide');
        Details(globalCodingId, $("#DetailModalTitle").text())

    },
    }).done(function ()
    {
    });
}


</script>

