@model List<NewsWebsite.ViewModels.Fetch.CodeAccUpdateViewModel>
@inject NewsWebsite.Data.Models.ProgramBuddbContext _db

@inject NewsWebSite.Data.Repository.IBudget_001Rep _uw

<link href="~/lib/comboTreePlugin/comboTreePlugin.css" rel="stylesheet" />
<script src="~/lib/comboTreePlugin/comboTreePlugin.js"></script>

<style>
    /*.modal {
        
        top: 200px;
        right: 150px;
        bottom: 100px;
        left: 0;
        display: none;
        overflow: hidden;
        outline: 0;
        height: 70%;
        width: 70%;
    }

    .modal-dialog {
        max-width: 65% !important;
        max-height: 65% !important;
        height: 70% !important;
    }*/

    .tr, td, th {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .tableFixHead {
        overflow: auto;
        height: 100px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
</style>
<div class="row">
        <table class="tableFixHead" style="border: 1px solid black; border-collapse: collapse; width: 100%; z-index: 99999999;">
            <thead style="color:black;background-color:rgb(157 152 232)">
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <th colspan="8" style="color: black; background-color: rgb(160 159 156 / 0.90);border: 1px solid black; border-collapse: collapse;">
                        <div class="row">
                            <div class="col-md-4">
                                کد بودجه : @ViewBag.code
                            </div>
                            <div class="col-md-8">
                                شرح بودجه : @ViewBag.description
                            </div>
                        </div>
                    </th>
                </tr>
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <th class="text-center" width="100px">ردیف</th>
                    <th class="text-center" width="100px">مرکز هزینه</th>
                    <th class="text-center" width="100px">تفضیلی</th>
                    <th class="text-center" width="100px">معین</th>
                    <th class="text-center" width="100px">کل</th>
                    <th class="text-center" width="300px">نام سرفصل</th>
                    <th class="text-center" width="150px">عملکرد</th>
                    @*<th width="100px">کد حسابداری</th>*@
                    <th width="100px">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (i % 2 == 0)
                        {
                            <tr style="background-color:rgb(248 243 210)">
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdTafsily5)</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdTafsily)</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-center">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdMoein)</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdKol)</td>
                                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Name</td>
                                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                <td width="50px" class="filterable-cell text-center">
                                    @if (item.IdKol != "0" && item.IdMoein != "0" && item.IdTafsily != "0")
                                    {
                                    <button type="submit" class="btn btn-link" onclick="updateAcc('@item.Id','@item.IdKol.ToString()'+'-'+'@item.IdMoein.ToString()'+'-'+'@item.IdTafsily.ToString()'+'-'+'@item.IdTafsily5.ToString()','@item.Name')">
                                            <i class="fa fa-link"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                            i++;

                        }
                        else
                            if (i % 2 == 1)
                        {
                            <tr style="background-color:#ffffff">
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="filterable-cell text-center">@i</td>
                            <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdTafsily5)</td>
                            <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdTafsily)</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-center">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdMoein)</td>
                                <td width="100px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@NewsWebsite.Common.StringExtensions.En2Fa(item.IdKol)</td>
                                <td width="500px" style="border: 1px solid black; border-collapse: collapse;" class="text-right">@item.Name</td>
                                <td width="150px" style="border: 1px solid black; border-collapse: collapse;" class="text-center">@NewsWebsite.Common.StringExtensions.En2Fa(NewsWebsite.Common.StringExtensions.ToNumeric(item.Expense).ToString())</td>
                                <td width="50px" class="filterable-cell text-center">
                                    @if (item.IdKol != "0" && item.IdMoein != "0" && item.IdTafsily != "0")
                                    {
                                    <button type="submit" class="btn btn-link" onclick="updateAcc('@item.Id','@item.IdKol.ToString()'+'-'+'@item.IdMoein.ToString()'+'-'+'@item.IdTafsily.ToString()'+'-'+'@item.IdTafsily5.ToString()','@item.Name')">
                                        <i class="fa fa-link"></i>
                                    </button>
                                }
                                </td>
                            </tr>
                            i++;

                        }

                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">هیچ ردیفی در جدول وجود ندارد.</td>
                    </tr>
                }
            </tbody>
        </table>
</div>


<script type="text/javascript">
    function updateAcc(Id, codeAcc, titleAcc)
    {
        $.ajax({
            url: "VasetSazmanha/UpdateCodeAccPost",
            data: { 'Id': Id, 'codeAcc': codeAcc, 'titleAcc': titleAcc },
            type: "post",
        }).done(function (result)
        {
            $("#MasterModal").modal('hide');
        });
    }


</script>



