@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<NewsWebsite.ViewModels.Fetch.BudgetSepratorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt--7">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">ردیف</th>
                    <th class="text-center">کد</th>
                    <th class="text-center">شرح</th>
                    <th class="text-center">مبلغ</th>
                    <th class="text-center">مبلغ عملکرد</th>
                    <th class="text-center">کد حسابداری</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{int i = Model.Count;}
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <td class="text-center"></td>
                    <td class="text-nowrap">@item.Code</td>
                    <td class="text-center">@item.Description</td>
                    <td class="text-center">@item.Mosavab</td>
                    <td class="text-center">@item.Expense</td>
                    <td class="text-center">@item.CodeVaset</td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">هیچ رکوردی در جدول وجود ندارد.</td>
                    </tr>
                }

            </tbody>
        </table>


        <nav>
            <vc:pager paging-list="@Model"></vc:pager>
        </nav>


    </div>
</div>


